<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Relação de Turmas - Caderneta</title>
</head>
    <h1>Lista de Turmas - Caderneta Virtual</h1>
    <table>
      <thead>
        <tr>

          <th>ID</th>
          <th>SERIE</th>

        </tr>
      </thead>
      <tbody>
        {% for turma in turmas %}
          <tr>
            <td>{{turma.id}}</td>
              <td>{{turma.turma}}</td>



          </tr>
        {% endfor %}
      </tbody>
    </table>
<body>

</body>
</html>