<title>Relação de Alunos</title>
{% extends 'base.html' %}
{% block conteudo %}

</head>
     <ul>
     {% if alunos %}
    

    <table>

        <tr>
          <th>Nome</th>
          <th>Sobrenome</th>
          <th>Matricula Aluno</th>
          <th>SERIE</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for aluno in alunos %}
          <tr>
            <td>{{aluno.nome}}</td>
            <td>{{aluno.sobrenome}}</td>
            <td>{{aluno.matricula_aluno}}</td>
            <td>{{aluno.turmas.turma}}</td>
            <td>
                <a href="{% url 'caderneta:atualiza_aluno' pk=aluno.matricula_aluno%}">Atualizar</a>
                <a href="{% url 'caderneta:deleta_aluno' pk=aluno.matricula_aluno%}">Deletar</a>
            </td>

          </tr>
        {% endfor %}
      {% else %}
        <li><b>Desculpe, não temos alunos cadastrados!</b></li>
        <a href="{% url 'caderneta:cadastra_aluno' %}">Clique aqui para Cadastrar novo Aluno</a>
      {% endif %}
      </ul>
      </tbody>
    </table>
<body>

</body>
</html>

{% endblock %}