<title>Cadastro de Alunos</title>
{%extends 'base.html'%}
{% load bootstrap %}
{%block conteudo%}
<body>
  {% comment %} <h1>Adicionar Alunos</h1> {% endcomment %}
  <div class="container">
      <h1>Adicionar um Aluno</h1> 
  </div>
    <div class="container">
        <form action="" method="POST">
            {% csrf_token %}
              {{ form|bootstrap }}
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
        
    </div>
  </div>
</body>  
{% endblock %}