{% load static %}
<!DOCTYPE html>
<html lang="pt">

<head>
  <title>Caderneta do Aluno</title>
  {% include 'parciais/_head.html' %}

</head>

<body>

  {% include 'parciais/_nav.html'%}
  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <br>
        <form method="get" action="#">
          <div class="form-group row">
            <div class="col-12">
<!--              <!– caixa de busca sera usada posteriormente-->
<!--              <input class="form-control"-->
<!--                     type="search" value=""-->
<!--                     id="search-input"-->
<!--                     placeholder="Digite o nome do aluno"-->
<!--                     name="termo">-->
                       
            </div>
          </div>
        </form>
        {%block conteudo %} {%endblock%}
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.slim.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>