<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Relação de Professores</title>
</head>
<body>
    <h1>Relação de Professores do Sistema</h1>
    <table>
        <thead>
            <tr>
                <th>NOME</th>
                <th>SOBRENOME</th>
                <th>DISCIPLINA</th>
                <th>MATRICULA PROFESSOR</th>
                <th>AÇÕES</th>
            </tr>
        </thead>

        <tbody>
            {% for professor in professores %}
                <tr>
                    <td>{{professor.nome}}</td>
                    <td>{{professor.sobrenome}}</td>
                    <td>{{professor.turmas.disciplina}}</td>
                    <td>{{professor.matricula_professor}}</td>
                    <td>
                        <a href="{% url 'caderneta:atualiza_professor' pk=professor.matricula_professor%}">Atualizar</a>
                        <a href="{% url 'caderneta:exclui_professor' pk=professor.matricula_professor%}">Deletar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>