<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Relação de Professores</title>
</head>
<body>
    <ul>
    {% if professores %}
    <h1>Relação de Professores do Sistema</h1>
    <table>
        <thead>
            <tr>
                <th>NOME</th>
                <th>SOBRENOME</th>
                <th>DISCIPLINA</th>
                <th>MATRICULA PROFESSOR</th>
                <th>AÇÕES</th>
            </tr>
        </thead>

        <tbody>
            {% for professor in professores %}
                <tr>
                    <td>{{professor.nome | title}}</td>
                    <td>{{professor.sobrenome | title}}</td>
                    <td>{{professor.disciplinas}}</td>
                    <td>{{professor.matricula_professor}}</td>
                    <td>
                        <a href="{% url 'caderneta:atualiza_professor' pk=professor.matricula_professor%}">Atualizar</a>
                        <a href="{% url 'caderneta:exclui_professor' pk=professor.matricula_professor%}">Deletar</a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <li><b>Desculpe, não temos professores cadastrados!</b></li>
            <a href="{% url 'caderneta:cadastra_professor'%}">Clique aqui para cadastrar novo professor</a>
        {% endif %}
        </ul>
        </tbody>
    </table>

</body>
</html>